.menu-mobile{
    position: fixed;
    top: 0px;
    left: -250px;
    background: #e9ebee;
    z-index: 1060;
    overflow-y: auto;
    height: 100%;
    transition: 0.4s;
}
.menu-mobile .close-menu-mobile{
    float: right;
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}
.menu-mobile ul.list-menu-mobile{}
ul.list-menu-mobile > li{
    cursor: pointer;
    border-top: var(--border-main);
    font-size: 14px;
}
ul.list-menu-mobile > li a{
    padding: 10px 5px;
    display: inline-block;
}
ul.list-menu-mobile > li .fa-caret-down{
    float: right;
    height: 31px;
    padding: 9px 5px 9px 20px;
}

.list-menu-mobile .sub-menu-mobile{
    /*display: none;*/
}

.list-menu-mobile .sub-menu-mobile li{
    padding: 5px;
    background: #6664648f;
}

@media(min-width:1199px) {
    .menu-mobile{
        display: none;
    }
}

/* END_MENU_MOBILE */